<h1>Index</h1>

<ul>
<% @subs.each do |sub| %>
  <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
  <% sub.posts.each do |post| %>
    <a href="<%= post_url(post) %>"><%= post.title %></a>
    <br>
    <%= post.url %>
    <br>
    <%= post.content %>
    <br>
  <% end %>
<% end %>
</ul>

<form action="<%= new_sub_url %>" method="GET">
<input type="submit" value="New Sub">
</form>
