<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless flash[:errors].nil?  %>
    <br>
    <%= h(flash[:errors].join(" ")) %>
    <br>
    <% end %>
    <% if logged_in? %>
    <%= current_user.username %>
    <br>
    <a href="<%= subs_url %>">Subs Index</a>
    <br>
    <form action="<%= session_url %>" method="post">
      <input type="hidden" name="_method" value="DELETE">
      <%= auth %>
      <input type="submit" value="Sign Out">
    </form>
    <% else %>
    <form action="<%= new_session_url %>" method="GET">
      <input type="submit" value="Sign In">
    </form>
    <% end %>

    <%= yield %>
  </body>
</html>
