<h1><%= @album.name %></h1>

<form action="<%= edit_album_url %>" method="get">
  <input type="submit" value="Edit Album">
</form>

<form action="/albums/<%= @album.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">
  <input type="submit" value="Delete Album">
</form>

<ol>
<% @album.tracks.each do |track| %>
  <li><a href=" <%=track_url(track) %>"><h2><%= track.name %></h2></a>
    <h3>  type: <%= track.status %></h3></li>


<% end %>
</ol>
