<% if action == :new %>
  <% url = tracks_url %>
  <% text = 'Create Track' %>
<% else %>
  <% url = "/tracks/#{track.id}" %>
  <% text = 'Update Track' %>
<% end %>


<form action="<%= url %>" method="post">
  <% if action == :edit %>
    <input type="hidden" name="_method" value="patch">
  <% end %>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token  %>">

  <label for="">name:</label>
  <br>
  <input type="text" name="track[name]" value="<%= track.name %>">
  <br>

  <label for="">please select album:</label>
  <br>
  <select name="track[album_id]">
    <% if action == :new %>
      <option value="" selected>-Select Band and Album-</option>
    <% end %>
    <% Band.all.each do |band| %>
      <% band.albums.each do |album| %>
        <option value="<%= album.id %>" <%= track.album == album ? "selected" : ""%>><%= album.band.name %> - <%= album.name %></option>
      <% end %>
    <% end %>
  </select>
  <br>

  <label for="">description:</label>
  <br>
  <textarea name="track[description]" rows="8" cols="80"><%= track.description %></textarea>

  <br>

  <label for="">please select type:</label>
  <br>
  <input type="radio" name="track[status]" value="regular" <%= track.status == "regular" ? "checked" : ""%>> live<br>
  <input type="radio" name="track[status]" value="bonus" <%= track.status == "bonus" ? "checked" : ""%>> studio<br>

  <input type="submit" value="<%= text %>">
</form>
